__pycache__
biodata2.py
DATA_USAGE_TRACKING.md
ph.py
quantum_placeholder.txt
README_SUPERGA_v2.md
evol_paths.csv
gen_metadata.csv
gene_mapping_tb.csv
gene_mapping_tb.json
genetic_al_best_gene_params.json
genetic_al_gene_evolution_stats.csv
genetic_al_gene_predictions.csv
genetic_al_report.pdf
genetic_al3.py

